<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Title="Dashboard" Class="my-2" />
    <MudNavLink Href="/chamado/novo" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Headset" Title="Fale Conosco" Class="my-2" />
    <MudNavLink Href="/chamados" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.History" Title="Histórico de Chamados" Class="my-2" />
    <MudNavLink Href="/contrato" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Article" Title="Contrato" Class="my-2" />
    <MudNavLink Href="/pagamento" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CreditCard" Title="Forma de Pagamento" Class="my-2" />
    <MudNavLink Href="/ajuda" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Wifi" Title="Problemas de Internet" Class="my-2" />

    <div class="mt-auto mb-4">
        <MudNavLink Href="/logout" Icon="@Icons.Material.Filled.Logout" Title="Sair" IconColor="Color.Error" Class="my-2" />
    </div>
</MudNavMenu>