@inject NavigationManager NavigationManager

<MudNavMenu>

    <MudNavLink Href="/dash" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Class="my-2">
        Dashboard
    </MudNavLink>

    <MudNavLink Href="/chamado/novo" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Headset" Class="my-2">
        Suporte
    </MudNavLink>

    <MudNavLink Href="/chamados" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.History" Class="my-2">
        Solicitações
    </MudNavLink>

    <MudNavLink Href="/contrato" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Article" Class="my-2">
        Contrato
    </MudNavLink>

    <MudNavLink Href="/pagamento" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CreditCard" Class="my-2">
        Pagamento
    </MudNavLink>

    <MudNavLink Href="/ajuda" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Wifi" Class="my-2">
        Ajuda
    </MudNavLink>

    <div class="mt-auto mb-4">
        <MudNavLink OnClick="RealizarLogout"
                    Icon="@Icons.Material.Filled.Logout"
                    IconColor="Color.Error"
                    Class="my-2">
            Sair
        </MudNavLink>
    </div>

</MudNavMenu>

@code {
    private void RealizarLogout()
    {
        // Redireciona para o login e força o recarregamento da página
        NavigationManager.NavigateTo("/login", forceLoad: true);
    }
}